body {
  background: #f2f2f2;
  font-family: Arial;
}

.container {
  background: white;
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  width: 80%;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 20px;
  background: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
}
