body{
background:#0d1117;
font-family:Arial;
text-align:center;
color:white;
}
.box{
width:300px;
margin:auto;
margin-top:80px;
padding:20px;
background:#161b22;
border-radius:10px;
}
input,button{
width:90%;
padding:10px;
margin:10px;
border-radius:5px;
border:none;
}
button{
background:#238636;
color:white;
}
.logo{
width:80px;
margin-bottom:10px;
}
